body {
  font-family: 'Quicksand', sans-serif;
  margin: 0;
  font-size: 120%;
  padding: 0;
}

header {
  display: flex;
  align-items: center;
  background-image: url('download.jpg');
  z-index: 10;
  position: relative;
}

header h1 {
  font-family: "McLaren", serif;
  font-size: 400%;
  font-weight: bold;
  color: #5e9bc9;
}

nav {
  background-color: #2470a3;
  border-top: solid black 1px;
  border-bottom: solid black 1px;
  display: flex;
  align-items: center;
  position: relative;
  z-index: 20;
}

nav p {
  text-align: center;
  flex-basis: 100px;
  flex-grow: 1;
}

nav a {
  color: black;
  text-decoration: none;
  font-weight: bold;
}

nav a:hover {
  color: white;
}

.navigation {
  padding: 10px;
  gap: 20px;
  display: flex; /* display the children of this element as flexible boxes */
}

nav button{
  flex-basis: 100px; /* give each paragraph the same width */
  flex-grow: 1;
  text-align: center;
  border-radius: 10px;
  height: 40px;
}

button {
  background-color:darkred;
  font-weight: bold;
}

button:hover {
  box-shadow: 0 0 5px darkred,
  0 0 25px darkred, 0 0 50px darkred,
  0 0 100px darkred, 0 0 200px darkred;
}

footer {
  background-color: #0a85d8;
  position: fixed;
  bottom: 0;
  width: 100%;
  left: 0;
  height: 3em;
  border-top: solid black thin;
  text-align: center;
  box-shadow: 0px -2px #0a85d8;
}

.centre {
  text-align: center;
}

/* Increase space between content and navigation */
.content-wrapper {
  width: 80%;
  margin: 0 auto;
  padding-top: 120px; /* Increased padding-top to create more space between nav bar and content */
}

.circle-layout {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.logo{
  border-radius:100%;
}
